

​<div class="login">
  <h1> <mat-icon>face</mat-icon>Autenticazione</h1>
  <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input matInput placeholder="Username"  name="username"
           formControlName="username" id="username"
           placeholder="Username"
           required>
    <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Username obbligatorio</div>
    <input matInput placeholder="Password"
           formControlName="password" id="pwd"
           type="password" name="password" required>
    <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Password obbligatoria</div>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    <button mat-raised-button [disabled]="loginForm.invalid"  class="btn btn-primary btn-block btn-large">Accedi</button>
    <div *ngIf="invalidLogin" class="error">
      <div>Credenziali invalide.</div>
    </div>
  </form>
</div>





