<div>
  <br>
  <div class="container">
    <div class="container">
      <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
        <div class="blocks">
          <button button="submit" (click)="addUser()" mat-raised-button color="primary">
            <mat-icon>add</mat-icon> Aggiungi Utente
          </button>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
          <mat-icon>group</mat-icon> <mat-label style="color:#3F51B5;margin-left: 12px">Utenti</mat-label>
          </mat-card-title>
          <mat-card-content>
            <div class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="users">
                <ng-container matColumnDef="username">
                  <mat-header-cell *matHeaderCellDef> username </mat-header-cell>
                  <mat-cell *matCellDef="let user"> {{user.username }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="mail">
                  <mat-header-cell *matHeaderCellDef> mail </mat-header-cell>
                  <mat-cell *matCellDef="let user"> {{user.mailaziendale}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="authority">
                  <mat-header-cell *matHeaderCellDef> authority </mat-header-cell>
                  <mat-cell *matCellDef="let user"> {{user.authorities[0].authority}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="delete">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let user">
                    <a (click)="deleteUser(user)"
                      type="button">
                      <mat-icon class="icon">delete</mat-icon>
                    </a>
                  </mat-cell>
                  <mat-cell *matCellDef="let user">
                    <a (click)="editUser(user)"
                       type="button">
                      <mat-icon class="icon">edit</mat-icon>
                    </a>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
          </mat-card-content>
        </mat-card>




